$def with (profile)
$var title: About Me

<h1>$profile["name"]</h1>
<p><a href=//$profile["uid"]>$profile["uid"]</a></p>

<ul>\
$for url in profile.get("urls", []):
    <li>\
    $if url.startswith("twitter.com/"):
        <a href=//$url>Twitter</a>
    $if url.startswith("github.com/"):
        <a href=//$url>GitHub</a>
    </li>
</ul>

<pre>$profile</pre>

$if tx.is_owner:
    <form method=post>
    <div><label>Name<br>
    <input type=text name=name value="$profile['name']"></label></div>
    <div><label>Primary Identity<br>
    <input type=text name=uid value="profile['uid']"></label></div>
    <div><label>Identities Elsewhere (eg. twitter.com/.., github.com/..)<br>
    <textarea name=urls>$"\n".join(profile.get("urls", []))</textarea></label></div>
    <button>Save</button>
    </form>
