$def with (card, entries)
$var title: $card["name"]

<h1 class=h-card><a class="u-url u-uid p-name" href=/>$card["name"]</a></h1>

$for entry in entries:
    $ e = entry["properties"]
    $ type = discover_post_type(e)
    <div class=h-entry>
    $if type == "note":
        <p><big class=p-content>$e["content"]</big></p>
    $elif type == "like":
        $ like = e["like-of"][0]["properties"]
        <p><big>Liked <a class=u-like-of href=$like["url"]>$like["name"]</a></big></p>
    $elif type == "bookmark":
        $ bookmark = e["bookmark-of"][0]["properties"]
        <p><big>Bookmarked <a class=u-bookmark-of href=$bookmark["url"]>$bookmark["name"]</a></big></p>
    <p><small><a class=u-url href=$e["url"]>$e["published"].diff_for_humans()</a></small></p>
    </div>

$if tx.is_owner:
    <p>Hello $card["name"] &mdash; <a href=/about>update your profile</a></p>
