$def with (name, resources)
$var title: $name

<h1 class=h-card><a class="u-url u-uid p-name" href=/>$name</a></h1>

$for resource in resources:
    $ r = resource["properties"]
    $ type = discover_post_type(r)
    <div class=h-entry>
    $if type == "note":
        <big class=p-content>$r["content"]</big>
    $elif type == "bookmark":
        $ bookmark = r["bookmark-of"]["properties"]
        <big><a class=u-bookmark-of href=$bookmark["url"]>$bookmark["name"]</a></big>
    <p><small><a class=u-url href=$r["url"]>$r["published"].diff_for_humans()</a></small></p>
    </div>

$if tx.is_owner:
    <p>Hello $name &mdash; <a href=/about>update your profile</a></p>
